Repository GOTO-OBS/gtecs-alert, pull requests merged in 2021-04, with the labels that each got.

#53 Kaho
  .gotoalert.conf
  gotoalert/data/tests/amon_1349941103075.xml
  gotoalert/data/tests/amon_bronze.xml
  gotoalert/data/tests/clean_icecube.xml
  gotoalert/events.py
  gotoalert/slack.py
  gotoalert/strategy.py
Labels: database, event_handler, events_other

#52 Add new two-part follow-up strategy for GRBs
  .gotoalert.conf
  gotoalert/alert.py
  gotoalert/data/configspec.ini
  gotoalert/data/test_events/Fermi_624500874_GBM_Fin_Pos.xml
  gotoalert/data/test_events/Fermi_632717654_GBM_Fin_Pos.xml
  gotoalert/data/test_events/Fermi_637664914_GBM_Fin_Pos.xml
  gotoalert/data/test_events/IceCube_13311922683750_Gold.xml
  gotoalert/data/test_events/IceCube_13491280902176_Cascade.xml
  gotoalert/data/test_events/IceCube_13511319489408_Bronze.xml
  gotoalert/data/test_events/LVC_MS200615h_EarlyWarning.xml
  gotoalert/data/test_events/LVC_S190518bb_Preliminary.xml
  gotoalert/data/test_events/LVC_S190518bb_Retraction.xml
  gotoalert/data/test_events/LVC_S190521r_Initial.xml
  gotoalert/data/test_events/Swift_876016_BAT_GRB_Pos.xml
  gotoalert/data/test_events/Swift_904394_BAT_GRB_Pos.xml
  gotoalert/data/tests/Fermi_559434035_GBM_Fin_Pos.xml
  gotoalert/data/tests/LVC_test_Initial.xml
  gotoalert/data/tests/LVC_test_Update.xml
  gotoalert/database.py
  gotoalert/events.py
  gotoalert/params.py
  gotoalert/slack.py
  gotoalert/strategy.py
  gotoalert/tests/test_gotoalert.py
  scripts/LVC_backup
  scripts/gotoalert
  setup.py
  setup_gotoalert.py
Labels: database, event_handler, events_GRB

#55 Fix tiles in Slack plot
  gotoalert/slack.py
Labels: event_handler

#56 A few more minor fixes
  gotoalert/events.py
  gotoalert/slack.py
Labels: event_handler
